__pycache__/evaluation.cpython-310.pyc
.idea/vcs.xml
.idea/.gitignore
.idea/cdm.iml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
modules/__pycache__/latex_processor.cpython-310.pyc
modules/__pycache__/latex2bbox_color.cpython-310.pyc
modules/__pycache__/visual_matcher.cpython-310.pyc
modules/tokenize_latex/__pycache__/tokenize_latex.cpython-310.pyc
output
bugs_output
debug
